{"openapi":"3.0.0","info":{"title":"Pancake API","description":"Pancake POS API Documentation","version":"1.0"},"servers":[{"url":"https://api.pancake.vn","description":"Production"}],"paths":{"/api/v1/orders":{"get":{"summary":"Get list orders","tags":["Orders"],"parameters":[{"name":"per_page","in":"query","schema":{"type":"integer","default":20}}],"responses":{"200":{"description":"Success"}}},"post":{"summary":"Create order","tags":["Orders"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderRequest"}}}},"responses":{"201":{"description":"Created"}}}},"/api/v1/orders/{id}":{"get":{"summary":"Get order detail","tags":["Orders"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"}}},"put":{"summary":"Update order","tags":["Orders"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderRequest"}}}},"responses":{"200":{"description":"Success"}}},"delete":{"summary":"Delete order","tags":["Orders"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Deleted"}}}},"/api/v1/orders/{id}/statistics":{"get":{"summary":"Get order statistics","tags":["Orders"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"}}}},"/api/v1/orders/{id}/print":{"post":{"summary":"Print order","tags":["Orders"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"}}}},"/api/v1/orders/{id}/shipping":{"post":{"summary":"Send to shipping partner","tags":["Orders"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShippingRequest"}}}},"responses":{"200":{"description":"Success"}}}},"/api/v1/order-returns":{"get":{"summary":"Get list order returns","tags":["Order Returns"]},"post":{"summary":"Create order return","tags":["Order Returns"]}},"put":{"summary":"Update order return","tags":["Order Returns"]},"delete":{"summary":"Delete order return","tags":["Order Returns"]}},"/api/v1/order-exchanges":{"get":{"summary":"Get list order exchanges","tags":["Order Exchanges"]},"post":{"summary":"Create order exchange","tags":["Order Exchanges"]},"put":{"summary":"Update order exchange","tags":["Order Exchanges"]},"delete":{"summary":"Delete order exchange","tags":["Order Exchanges"]}},"/api/v1/products":{"get":{"summary":"Get list products","tags":["Products"],"parameters":[{"name":"per_page","in":"query","schema":{"type":"integer","default":20}}],"responses":{"200":{"description":"Success"}}},"post":{"summary":"Create product","tags":["Products"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductRequest"}}}},"responses":{"201":{"description":"Created"}}}},"/api/v1/products/{id}":{"get":{"summary":"Get product detail","tags":["Products"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"}}},"put":{"summary":"Update product","tags":["Products"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductRequest"}}}},"responses":{"200":{"description":"Success"}}},"delete":{"summary":"Delete product","tags":["Products"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Deleted"}}}},"/api/v1/products/{id}/variations":{"get":{"summary":"Get product variations","tags":["Products"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"}}},"post":{"summary":"Create product variation","tags":["Products"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VariationRequest"}}}},"responses":{"201":{"description":"Created"}}}},"/api/v1/products/import":{"post":{"summary":"Import products","tags":["Products"],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"Success"}}}},"/api/v1/products/export":{"get":{"summary":"Export products","tags":["Products"],"responses":{"200":{"description":"Success"}}}},"/api/v1/customers":{"get":{"summary":"Get list customers","tags":["Customers"]},"post":{"summary":"Create customer","tags":["Customers"]}}},"/api/v1/customers/{id}":{"get":{"summary":"Get customer detail","tags":["Customers"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"}}},"put":{"summary":"Update customer","tags":["Customers"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"}}},"delete":{"summary":"Delete customer","tags":["Customers"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Deleted"}}}},"/api/v1/customers/{id}/reward-points":{"get":{"summary":"Get customer reward points","tags":["Customers"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"}}},"post":{"summary":"Add reward points","tags":["Customers"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"}}}},"/api/v1/customers/{id}/notes":{"get":{"summary":"Get customer notes","tags":["Customers"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"}}},"post":{"summary":"Add customer note","tags":["Customers"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"Created"}}}},"/api/v1/warehouses":{"get":{"summary":"Get list warehouses","tags":["Warehouses"]},"post":{"summary":"Create warehouse","tags":["Warehouses"]}},"/api/v1/warehouses/{id}":{"get":{"summary":"Get warehouse detail","tags":["Warehouses"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update warehouse","tags":["Warehouses"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete warehouse","tags":["Warehouses"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/combos":{"get":{"summary":"Get list combo products","tags":["Combo Products"]},"post":{"summary":"Create combo product","tags":["Combo Products"]}},"/api/v1/combos/{id}":{"get":{"summary":"Get combo detail","tags":["Combo Products"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update combo product","tags":["Combo Products"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete combo product","tags":["Combo Products"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/inventory/reports":{"get":{"summary":"Get inventory reports","tags":["Inventory"]}},"/api/v1/shipping-partners":{"get":{"summary":"Get list shipping partners","tags":["Shipping Partners"]}},"/api/v1/webhooks":{"get":{"summary":"Get list webhooks","tags":["Webhooks"]},"post":{"summary":"Create webhook","tags":["Webhooks"]}},"/api/v1/webhooks/{id}":{"get":{"summary":"Get webhook detail","tags":["Webhooks"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update webhook","tags":["Webhooks"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete webhook","tags":["Webhooks"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/shop":{"get":{"summary":"Get shop information","tags":["Shop"]}},"/api/v1/shop/update":{"post":{"summary":"Update shop information","tags":["Shop"]}},"/api/v1/address/provinces":{"get":{"summary":"Get list provinces","tags":["Address"]}},"/api/v1/address/districts/{provinceId}":{"get":{"summary":"Get list districts by province","tags":["Address"],"parameters":[{"name":"provinceId","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/address/communes/{districtId}":{"get":{"summary":"Get list communes by district","tags":["Address"],"parameters":[{"name":"districtId","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/invoices":{"get":{"summary":"Get list e-invoices","tags":["E-Invoice"]},"post":{"summary":"Create e-invoice","tags":["E-Invoice"]}},"/api/v1/invoices/{id}":{"get":{"summary":"Get e-invoice detail","tags":["E-Invoice"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update e-invoice","tags":["E-Invoice"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete e-invoice","tags":["E-Invoice"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/livestream":{"get":{"summary":"Get list livestreams","tags":["Livestream"]},"post":{"summary":"Create livestream","tags":["Livestream"]}},"/api/v1/livestream/{id}":{"get":{"summary":"Get livestream detail","tags":["Livestream"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update livestream","tags":["Livestream"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete livestream","tags":["Livestream"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/ecommerce/sync":{"post":{"summary":"Sync ecommerce channels","tags":["eCommerce"]}},"/api/v1/ecommerce/products":{"get":{"summary":"Get ecommerce products","tags":["eCommerce"]}},"/api/v1/call-later":{"get":{"summary":"Get list call later tasks","tags":["Call Later"]},"post":{"summary":"Create call later task","tags":["Call Later"]}},"/api/v1/call-later/{id}":{"get":{"summary":"Get call later task detail","tags":["Call Later"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update call later task","tags":["Call Later"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete call later task","tags":["Call Later"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/debt":{"get":{"summary":"Get list debts","tags":["Debt"]},"post":{"summary":"Create debt","tags":["Debt"]}},"/api/v1/debt/{id}":{"get":{"summary":"Get debt detail","tags":["Debt"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update debt","tags":["Debt"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete debt","tags":["Debt"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/transactions":{"get":{"summary":"Get list transactions","tags":["Transaction"]},"post":{"summary":"Create transaction","tags":["Transaction"]}},"/api/v1/transactions/{id}":{"get":{"summary":"Get transaction detail","tags":["Transaction"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update transaction","tags":["Transaction"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete transaction","tags":["Transaction"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/suppliers":{"get":{"summary":"Get list suppliers","tags":["Supplier"]},"post":{"summary":"Create supplier","tags":["Supplier"]}},"/api/v1/suppliers/{id}":{"get":{"summary":"Get supplier detail","tags":["Supplier"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update supplier","tags":["Supplier"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete supplier","tags":["Supplier"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/purchases":{"get":{"summary":"Get list purchases","tags":["Purchase"]},"post":{"summary":"Create purchase","tags":["Purchase"]}},"/api/v1/purchases/{id}":{"get":{"summary":"Get purchase detail","tags":["Purchase"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update purchase","tags":["Purchase"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete purchase","tags":["Purchase"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/exports":{"get":{"summary":"Get list exports","tags":["Export"]},"post":{"summary":"Create export","tags":["Export"]}},"/api/v1/exports/{id}":{"get":{"summary":"Get export detail","tags":["Export"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update export","tags":["Export"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete export","tags":["Export"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/warehouse-transfers":{"get":{"summary":"Get list warehouse transfers","tags":["Warehouse Transfer"]},"post":{"summary":"Create warehouse transfer","tags":["Warehouse Transfer"]}},"/api/v1/warehouse-transfers/{id}":{"get":{"summary":"Get warehouse transfer detail","tags":["Warehouse Transfer"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update warehouse transfer","tags":["Warehouse Transfer"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete warehouse transfer","tags":["Warehouse Transfer"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/stocktaking":{"get":{"summary":"Get list stocktaking","tags":["Stocktaking"]},"post":{"summary":"Create stocktaking","tags":["Stocktaking"]}},"/api/v1/stocktaking/{id}":{"get":{"summary":"Get stocktaking detail","tags":["Stocktaking"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update stocktaking","tags":["Stocktaking"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete stocktaking","tags":["Stocktaking"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/promotions":{"get":{"summary":"Get list promotions","tags":["Promotion"]},"post":{"summary":"Create promotion","tags":["Promotion"]}},"/api/v1/promotions/{id}":{"get":{"summary":"Get promotion detail","tags":["Promotion"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update promotion","tags":["Promotion"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete promotion","tags":["Promotion"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/vouchers":{"get":{"summary":"Get list vouchers","tags":["Voucher"]},"post":{"summary":"Create voucher","tags":["Voucher"]}},"/api/v1/vouchers/{id}":{"get":{"summary":"Get voucher detail","tags":["Voucher"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update voucher","tags":["Voucher"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete voucher","tags":["Voucher"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/statistics/inventory":{"get":{"summary":"Get inventory analytics","tags":["Statistics"]}},"/api/v1/statistics/sales":{"get":{"summary":"Get sales analytics","tags":["Statistics"]}},"/api/v1/statistics/orders":{"get":{"summary":"Get orders analytics","tags":["Statistics"]}},"/api/v1/employees":{"get":{"summary":"Get list employees","tags":["Employee"]},"post":{"summary":"Create employee","tags":["Employee"]}},"/api/v1/employees/{id}":{"get":{"summary":"Get employee detail","tags":["Employee"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update employee","tags":["Employee"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete employee","tags":["Employee"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/crm/contacts":{"get":{"summary":"Get list CRM contacts","tags":["CRM"]},"post":{"summary":"Create CRM contact","tags":["CRM"]}},"/api/v1/crm/contacts/{id}":{"get":{"summary":"Get CRM contact detail","tags":["CRM"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update CRM contact","tags":["CRM"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete CRM contact","tags":["CRM"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/crm/deals":{"get":{"summary":"Get list CRM deals","tags":["CRM"]},"post":{"summary":"Create CRM deal","tags":["CRM"]}},"/api/v1/crm/deals/{id}":{"get":{"summary":"Get CRM deal detail","tags":["CRM"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update CRM deal","tags":["CRM"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete CRM deal","tags":["CRM"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/crm/activities":{"get":{"summary":"Get list CRM activities","tags":["CRM"]},"post":{"summary":"Create CRM activity","tags":["CRM"]}},"/api/v1/crm/activities/{id}":{"get":{"summary":"Get CRM activity detail","tags":["CRM"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"summary":"Update CRM activity","tags":["CRM"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"summary":"Delete CRM activity","tags":["CRM"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}}},
"components":{"schemas":{"OrderRequest":{"type":"object","properties":{"customer_id":{"type":"string"},"items":{"type":"array","items":{"type":"object"}},"total":{"type":"number"},"status":{"type":"string"}}},"ProductRequest":{"type":"object","properties":{"name":{"type":"string"},"sku":{"type":"string"},"price":{"type":"number"},"quantity":{"type":"integer"}}},"VariationRequest":{"type":"object","properties":{"name":{"type":"string"},"values":{"type":"array","items":{"type":"string"}}}},"ShippingRequest":{"type":"object","properties":{"shipping_partner_id":{"type":"string"},"tracking_number":{"type":"string"}}}}},"tags":[{"name":"Orders","description":"Order management endpoints"},{"name":"Products","description":"Product management endpoints"},{"name":"Customers","description":"Customer management endpoints"},{"name":"Warehouses","description":"Warehouse management endpoints"},{"name":"Shop","description":"Shop information endpoints"},{"name":"Address","description":"Address data endpoints"},{"name":"E-Invoice","description":"Electronic invoice endpoints"},{"name":"Statistics","description":"Analytics and reporting endpoints"}]}
